<!DOCTYPE html>
<html>
<head>
  <title>BenchBnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUFmKc1u147vQlT6hMdeW6bzAAjmrc6Qg">
    </script>

  <!-- //   $(function() {
  //     $( "#slider-range" ).slider({
  //       range: true,
  //       min: 0,
  //       max: 500,
  //       values: [ 75, 300 ],
  //       slide: function( event, ui ) {
  //         $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
  //       }
  //     });
  //     $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
  //       " - $" + $( "#slider-range" ).slider( "values", 1 ) );
  //   }); -->
  
</head>
<body>

<%= yield %>

</body>
</html>
